.avatar-show-img {
    width: 128px;
    height: 128px;
}

.well.profile-block {
    color: white;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #3B424C;
    border-color: #2A2F36;
    
}

.well.profile-contact-info {
    background-color: #293439;
    border-color: black;
}